.pagination {
    position: relative;

    top: 50px;
    bottom: 10px;
    /* Để cách một khoảng thay vì margin-bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
}

.pagination a.active {
    background-color: #36e63c;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Đảm bảo chiều cao full màn hình */
}

.navbar-side {
    display: flex;
    height: 100%;
    background-color: #f1f1f1;
    width: 250px;
    flex-direction: column;
    align-items: stretch;

}

.navbar-side ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-side ul li {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar-side ul li a {
    display: flex;
    text-align: center;
    font: 20px bold;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    background-color: #f1f1f1;
    color: black;
}

.navbar-side ul li a:hover {
    background-color: #36e63c;
    color: white;
}

/* Nội dung chính */
.content {
    flex: 2;
    overflow-y: auto;

    padding: 20px;
    /* Để tránh dính lề */
    background-color: #fff;

    height: 600px;
    overflow: auto;

    scrollbar-width: none;

}

.content::-webkit-scrollbar {
    display: none;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.course-info {

    background-color: #c5e5f8;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1400px;
    max-height: 900px;


}

.info_1 {
    display: flex;
    margin-bottom: 50px;

}

.course-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Chia làm 2 cột */
    gap: 120px;
}



.general_information {
    color: aqua;
    font: 24px bold;
    margin-left: 10px;
}



.image {
    width: 35%;
    text-align: right;


}

.image img {
    max-width: 350px;
    height: auto;
    border-radius: 40px;
}

.container_1 {
    max-width: 800px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border: dotted rgb(177, 25, 157);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_1 h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333
}